@tailwind base;
@tailwind components;
@tailwind utilities;




@layer base {
  h1 {
    @apply text-rose-500/80 md:text-rose-500 font-tusker uppercase text-9xl lg:text-10xl xl:text-11xl 2xl:text-[350px];
  }

  p {
    @apply font-para3 font-black text-gray-100/80 lg:text-lg 2xl:text-xl;
  }
}




@font-face {
  font-family: 'TUSKER';
  src: url('../public/font/tusker/TuskerGrotesk-2600Semibold.ttf');
}





@font-face {
  font-family: 'PARA';
  src: url('../public/font/Exo2-VariableFont_wght.ttf');
}





@font-face {
  font-family: 'CAVIAR';
  src: url('../public/font/new/caviar/CaviarDreams.ttf');
}




* {
  box-sizing: border-box;
}

@media only screen and (max-width: 896px) {
  html {

    overflow-y: scroll;

  }

  ::-webkit-scrollbar {
    display: none;
  }
}

input::placeholder {
  font-weight: bold;
  opacity: .3;
  color: darkgray;
  /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */

}

textarea::placeholder {
  font-weight: bold;
  opacity: 0.3;
  color: darkgray;
  /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
}

input:focus {
  outline: none;
  border-color: rgb(244 63 94);
  box-shadow: 0 0 10px rgb(244 63 94);
}

textarea:focus {
  outline: none;
  border-color: rgb(244 63 94);
  box-shadow: 0 0 10px rgb(244 63 94);
}

::-webkit-scrollbar {
  display: none;
}



.container {
  max-width: 100%;
  margin: 0 auto;

}

.wrapper {
  /* padding: 5rem; */
  position: relative;
  padding: 15px;
}

.title {
  text-align: center;
  padding-bottom: 1rem;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  width: 250px;
  height: 400px;
  perspective: 150rem;
  -moz-perspective: 150rem;
}

.card:hover>*:first-child {
  transform: rotateY(180deg);

}

.card:hover>*:last-child {
  transform: rotateY(0deg);
  box-shadow: -5px 5px 4px darkgray;
  border-top: 1px solid rgb(68, 68, 68);
  border-right: 1px solid rgb(68, 68, 68);
}

.card-inner {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  box-shadow: 5px 5px 4px darkgray;
  border-top: 1px solid rgb(68, 68, 68);
  border-left: 1px solid rgb(68, 68, 68);
}

.button-border {
  box-shadow: 2px 2px 4px darkgray;
  border-top: 1px solid rgb(68, 68, 68);
  border-left: 1px solid rgb(68, 68, 68);
}

.button-border-social {
  box-shadow: inset 2px 2px 4px rgb(121, 120, 120);
  border-top: inset 2px solid rgb(68, 68, 68);
  border-left: inset 2px solid rgb(68, 68, 68);

}

.card-content {
  position: relative;
  height: auto;
  /*overflow-wrap: anywhere;*/
}

.card-footer {
  padding: 10px 15px;
  width: 100%;
  position: relative;
  margin-top: auto;
}

.button {
  padding: .75rem 1.25rem;
  background: rgb(53, 52, 52);
  color: white;
  border-radius: 1.25rem;
  text-align: center;
}

.card .card-inner {
  position: absolute;
  border-radius: 2rem;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  transition: transform 0.5s;
}


.card>.card-front {
  z-index: 10;
}



.card>.card-back {
  transform: rotateY(-180deg);
}


.card-back .card-content {
  margin-top: auto;
}

.filtero {
  filter: drop-shadow(2px 1px 2px darkgray);
}