@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .title {
    @apply text-white text-10xl font-blucobra 
  }
  .subtitle {
    @apply text-white text-6xl font-blucobra
  }
  .para {
    @apply leading-6 text-xl  text-blue-100/80 font-para
  }
}

@font-face {
  font-family: 'LOBSTER';
  src: url('../public/font/Michroma-Regular.ttf');
}
@font-face {
  font-family: 'PARA';
  src: url('../public/font/Exo2-VariableFont_wght.ttf');
}

@font-face {
  font-family: 'CHISATO';
  src: url('../public/font/new/ChisatoRegular.ttf');
}

@font-face {
  font-family: 'BLUCOBRA';
  src: url('../public/font/blue_cobra/BlueCobraExtraExpanded.otf');
}

@font-face {
  font-family: 'TEST';
  src: url('../public/font/Syncopate-Bold.ttf');
}

@media only screen and (max-width: 896px) {
  html {
    
    overflow-y: scroll;
    
  }
  ::-webkit-scrollbar {
    display: none;
  }
}

input::placeholder {
  font-weight: bold;
  opacity: .3;
  color: darkgray;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
  
}
textarea::placeholder {
  font-weight: bold;
  opacity: 0.3;
  color: darkgray;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

.textShadow {
  text-shadow: 4px 4px 10px gray;
}



/* .CS-gradient {
  
  background: -webkit-linear-gradient(#14b8a6, #14b8a593, #14b8a58c );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
} */


