@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply font-blucobra text-rose-500 text-9xl xl:text-10xl 2xl:text-11xl  /* lg:text-[190px] xl:text-[200px] 2xl:text-[210px]  */ 
  }
  p {
    @apply font-para text-lg xl:text-xl  leading-6 text-gray-300
  }
  h2 {
    @apply font-blucobra text-rose-500 text-9xl lg:text-9xl xl:text-10xl 2xl:text-10xl
  }
}

@responsive {
  .md:title {
  
  }
}
@layer utilities {
  
  .title {
    @apply text-white text-9xl font-blucobra 
  }
  .subtitle {
    @apply text-white text-6xl font-blucobra
  }
  .para {
    @apply leading-6 text-xl  text-blue-100/80 font-para
  }
}

@font-face {
  font-family: 'LOBSTER';
  src: url('../public/font/Michroma-Regular.ttf');
}
@font-face {
  font-family: 'PARA';
  src: url('../public/font/Exo2-VariableFont_wght.ttf');
}

@font-face {
  font-family: 'CHISATO';
  src: url('../public/font/new/ChisatoRegular.ttf');
}

@font-face {
  font-family: 'BLUCOBRA';
  src: url('../public/font/blue_cobra/BlueCobraExtraExpanded.otf');
}

@font-face {
  font-family: 'TEST';
  src: url('../public/font/new/seawave/NT\ SEAWAVE\ \(standart\)\ -\ PERSONAL\ USE.otf');
}


* {
  box-sizing: border-box;
}

@media only screen and (max-width: 896px) {
  html {
    
    overflow-y: scroll;
    
  }
  ::-webkit-scrollbar {
    display: none;
  }
}

input::placeholder {
  font-weight: bold;
  opacity: .3;
  color: darkgray;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
  
}
textarea::placeholder {
  font-weight: bold;
  opacity: 0.3;
  color: darkgray;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

::-webkit-scrollbar {
  display: none;
}



.textShadow {
  text-shadow: 2px 1px 4px;
}

.box {
  height: 300px;
  width: 300px;
  background: rgb(169, 169, 169);
  box-shadow: inset 10px 10px 18px 10px  rgba(228, 124, 124, 0.479) ,inset -10px -10px 18px 10px  rgba(228, 124, 124, 0.479), 0px 0px 20px 20px rgba(228, 124, 124, 0.479) ;
  border: none;
  
  border-radius: 16px;  
}





/* .CS-gradient {
  
  background: -webkit-linear-gradient(#14b8a6, #14b8a593, #14b8a58c );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
} */



